.screen {
    color: #8D8D8D;
    background-color: #EEE;
    font-size: 11pt;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    line-height: 16px;
    height: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.raw_left {
    color: #8D8D8D;
    font-size: 10pt;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    width: 100px;
}
.raw_right {
    color: #8D8D8D;
    font-size: 10pt;
    font-family: Arial,Helvetica,sans-serif;
    text-align: right;
    width: 100px;
}

.table-bordered{
    //border: hidden;
}

.blue
{
    background-color:#04C;
}
